.radio-input-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.radio-input {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #94A3B8;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease;
}

.radio-input:checked {
    border-color: #435dd8;
    background-color: #435dd8;
    box-shadow: inset 0 0 0 3px #FFFFFF;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgba(148, 163, 184, 0.4);
    border-radius: 9999px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

